.container {
    width: 100%;
    height: 100vh;
}

.bg-image {
    height: 50vh;
    background-image: url('@/assets/img/illus-boy-with-coffee.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}